table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 10px;

}

tr:nth-child(even) {
    background-color: white;
}